.vux-loading .weui-toast {
  width: 80px !important;
  min-height: 80px !important;
  /*top: 300px;*/
  top: 50%;
  margin-top: -40px;
}

.vux-loading .weui-toast .weui-icon_toast {
  width: 20px !important;
  height: 20px !important;
}
